<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>653594620207-p9lufn37o7jq11vlvdutds3s8f7ile7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653594620207-p9lufn37o7jq11vlvdutds3s8f7ile7i</string>
	<key>API_KEY</key>
	<string>AIzaSyD6WhB6hjVYuMQp55IBJNIpRTHZrGON9g0</string>
	<key>GCM_SENDER_ID</key>
	<string>653594620207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>XperiaTech.Karo-Chat</string>
	<key>PROJECT_ID</key>
	<string>karo-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>karo-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:653594620207:ios:a5c0eda376e57790</string>
	<key>DATABASE_URL</key>
	<string>https://karo-chat.firebaseio.com</string>
</dict>
</plist>